parameters:
  level: 7
  paths:
    - %rootDir%/../../../src/
  excludes_analyse:
    # Ignore compatibility fixes since including their dependencies would load the Composer plugins
    - %rootDir%/../../../src/Compatibility/PrestissimoCompatibility.php
    - %rootDir%/../../../src/Compatibility/SymfonyFlex*.php
